[include ../common.cfg]

##################
### MAIN FILES ###
##################
[include printer.cfg]
[include board_pins.cfg]
[include variables.cfg]

###########################
### HARDWARE COMPONENTS ###
###########################
[include hardware/*.cfg]

###########################
### SOFTWARE COMPONENTS ###
###########################
[include software/*.cfg]